body{font-family: 'Poppins', sans-serif;
    margin: 2px;
padding: 0%;


}
h1{
color: gray;
    font-size: 50px;
   
}


.color{

    color: darkorange;
}
.flexible{
    display: flex;
margin-bottom: 50px;
margin: 10px;
padding: 20px;
font-size: 30px;


}
.half-width{
    width: 50%%;
    padding-left:5%;
padding-right: 5%;

}
.text-edit{
text-decoration: none;
background-image: linear-gradient(red, yellow);
color: white;
padding: 10px 40px;
border-radius: 20px;
font-weight: 900;








}



    
    
    
    .about-me{


        background-image: url(images/Frame\ 59.jpg);
        background-repeat: no-repeat;
       background-position:left;
  
       
    }
    





   








    
}


footer p{

    text-align: center;
    background-color: rgb(202, 51, 152);
    margin-right:35%;
    margin-left: 35%;
    font-weight: 900;
border-radius: 10px;
    

}
    










.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: 50px;
    padding: 50px;

    border-radius: 50px;
  }
  

  #example1 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    margin: 50px;
    padding: 50px;



    
   
  }
   
  
footer{

  text-align: center;
  background-color: rgb(133, 130, 130);
text-align: top 10px;
  padding-top: 100px;}
  
  


.color-tow{

  color: chocolate;
}


  
 